html
  head
    title fmjs
    != css('style')
    != js('client')
  body
    header
      h1 Constellation
      h2 Code search tool
    main
      - if(query)
        .results
          h3 Search results for: #{query}
