html
  head
    title fmjs
    != css('style')
    != js('client')
  body.page-search
    header
      h1 Constellation
      h2 Code search tool
    main
      form
        input(name="")
      if(results)
        .results
          h1 Search results for: #{query}
          ul.results
            for result in results.body.hits.hits
              li.result
                h2= result.fields.contents.path
                for snippet in result.highlight.contents
                  p!= sanitizeHtml( snippet, {allowedTags: ['em']} )

