*
  margin 0
  padding 0
  -moz-box-sizing border-box
  box-sizing border-box

ul,li
  list-style none

body.constellation
  font-family sans-serif
  font-size 14

  header .inner, main
    display block
    margin 0 auto
    max-width 960px

  $hilight = #ffe28a

  a
    cursor pointer
    color #0e46bf

  header
    background url(/public/images/bg.jpg) top center
    background-size 100%
    .inner
      color white
      text-align center
      padding 10 10 10
    h1
      font-size 300%
      font-family Helvetica, sans-serif
      margin-bottom 10px
    h2
      display none

  @media screen and (min-width:600px)
    header
      .inner
        padding 50 10 10
      h1
        font-size 400%
      h2
        display block
        font-size 200%
        margin-bottom 30px

  &.page-search
    
    form.search-form
      input.search-field
        padding 5
        border none
        font-family inherit
        font-size 200%
        width 100%

        &:focus
          outline none
          box-shadow 0 0 10px rgba(255,255,255,0.8)

    .results
      margin 10
      h1, h2
        font-size 150%
        margin 10 0

      .result
        margin 20 0
        word-wrap break-word

        a
          text-decoration none
          &:hover
            text-decoration underline

        .directory
          font-size 100%
          color #848484

        .filename
          font-size 150%
          margin 0

        p
          border 1 solid #ccc
          background #eee
          border-radius 2px
          padding 8
          margin 5 0
          white-space pre
          overflow hidden
          font-family monospace
          font-size 80%

          cursor pointer

          &:hover
            background #f8f8f8
            
          em
            color black
            font-weight bold
            background $hilight
            border 1px solid darken($hilight,10)